<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.orafaaraujo.rxrecyclerexample">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".presentation.main.presentation.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.main.presentation.activities.LinearLayoutActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".presentation.main.presentation.activities.LinearLayoutHorizontalActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".presentation.main.presentation.activities.GridLayoutActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".presentation.main.presentation.activities.StaggeredGridLayoutActivity"
            android:theme="@style/AppTheme" />

    </application>

</manifest>